<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/styleName.css">
    <link rel="Icon" href="../../assets/img/lojoJ.png">
    <title>Reto Cuatro</title>
</head>
<body>
    <header>
        <div class="logo-title">
            <div class="logo">
                <img src="../../assets/img/lojoJ.png" alt="LogoJ">
            </div>

            <div class="title">
                <h2>
                    Jaider Quimbaya
                </h2>
            </div>
        </div>

        <nav class="nav_container">
            <ul class="ul__nav">
                <li class="home ">
                    <a href="../../index.html">Home</a>
                </li>

                <li>
                    <a href="RetoOne.html">Reto 1</a>
                </li>

                <li>
                    <a href="RetoTwo.html">Reto 2</a>
                </li>

                <li>
                    <a href="RetoThree.html">Reto 3</a>
                </li>
                <li>
                    <a href="RetoFour.html">Reto 4</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="calculadora">
            <div class="calculer">
              <div class="titulo">
                <h1>
                    challenge Five
                </h1>
              </div>
              <label for="name">¿cómo se llama el instructor y qué orienta?</label>
                <form>
                    
                    <div class="seleccion1">
                        <label for="name">Seleccione el nombre del instructor</label>
                        <div class="opciones">
                          <select name="name" id="name">
                            <option value="1">Jennifer</option>
                            <option value="2">Tatiana</option>
                            <option value="3">Jonathan</option>
                            <option value="4">Uldarico</option>
                          </select>
                        </div>
                    </div>

                    <div class="seleccion1">
                        <label for="lastname">Seleccione el apellido del instructor</label>
                        <div class="opciones">
                          <select name="lastname" id="lastname">
                            <option value="1">Fajardo</option>
                            <option value="2">Espitia</option>
                            <option value="3">Hernandez</option>
                            <option value="4">Cabrera</option>
                          </select>
                        </div>
                    </div>

                    <div class="seleccion1">
                        <label for="acti">Seleccione la actividad del instructor</label>
                        <div class="opciones">
                          <select name="acti" id="acti">
                            <option value="1">Python</option>
                            <option value="2">SQL</option>
                            <option value="3">Java</option>
                            <option value="4">JavaScript</option>
                          </select>
                        </div>
                    </div>
            
                    <button id="btnVerificar" onclick="verificar(event)">verificar</button>

                </form>

              <div class="resultado">
                <h3 id="mensaje">

                </h3>
              </div>
            </div>
        </section>
    </main>

    <footer class="text-center well">
        <div class="text-1">
            <div class="comu">
                <p>
                    Contenido
                </p>
            </div>
            
            <div class="linea"></div>

            <ul>
                <li>
                    <a href="RetoOne.html">Reto 1</a>
                </li>

                <li>
                    <a href="RetoTwo.html">Reto 2</a>
                </li>

                <li>
                    <a href="RetoThree.html">Reto 3</a>
                </li>

                <li>
                    <a href="RetoFour.html">Reto 4</a>
                </li>

                <li>
                    <a href="RetoFive.html">Reto 5</a>
                </li>

                <li>
                    <a href="RetoSex.html">Reto 6</a>
                </li>

                <li>
                    <a href="Retosiete.html">Reto 7</a>
                </li>
            </ul>
                
                
        </div>

        <div class="text-1">
            <div class="comu">
                <p>Ejercicios en clase</p>
            </div>
            
            <div class="linea"></div>

            <ul>
                <li>
                    <a href="../Ejercicio1.html">Ejercicio</a>
                </li>

                <li>
                    <a href="../Calculadora.html">Calculadora</a>
                </li>

                <li>
                    <a href="../modales.html">Modales</a>
                </li>

                <li>
                    <a href="../ejercicioForm.html">ejercicio de formnulario</a>
                </li>
            </ul>
                
                
        </div>
            
        <div class="text-2">
            <div class="logo-title">
                <div class="nombre">
                    <a href="">
                        <h1>Jaider Quimbaya</h1>
                    </a>
                </div>      
                <div class="imagen">
                    <a href="#">
                        <img src="../../assets/img/lojoJ.png" alt="imagen-empre">
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script type="Text/JavaScript" src="../../assets/js/Name.js"></script>
</body>
</html>