<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Icon" href="../../assets/img/lojoJ.png">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>Reto Two</title>
</head>
<body>
    <header>
        <div class="logo-title">
            <div class="logo">
                <img src="../../assets/img/lojoJ.png" alt="LogoJ">
            </div>

            <div class="title">
                <h2>
                    Jaider Quimbaya
                </h2>
            </div>
        </div>

        <nav class="nav_container">
            <ul class="ul__nav">
                <li class="home ">
                    <a href="../../index.html">Home</a>
                </li>

                <li>
                    <a href="RetoOne.html">Reto 1</a>
                </li>

                <li>
                    <a href="RetoTwo.html">Reto 2</a>
                </li>

                <li>
                    <a href="RetoThree.html">Reto 3</a>
                </li>
                <li>
                    <a href="RetoFour.html">Reto 4</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>

        <table>
            <tr>
                <th>
                    Descripcion 
                </th>
                
                <th>
                    Funcion
                </th>
            </tr>

            <tr>
                <td>
                    
                    Evento click
                </td>

                <th>
                    <input type="button" id="btnEnvio" value="click">
                </th>
            </tr>

            <tr>
                <td>
                    Evento Doble Click
                </td>

                <th>
                    <input type="button" id="btnDoble" value="Doble Click">
                </th>
            </tr>

            <tr>
                <td>
                    Maouse over
                </td>

                <th>
                    <input type="button" id="btnMause" value="Pasar encima">
                </th>
            </tr>

            <tr>
                <td>
                    Mouseout
                </td>

                <th>
                    <input type="button" id="btnMouse" value="Ejecutar">
                </th>
            </tr>
            <tr>
                <td>
                    Keyup
                </td>

                <th>
                    <input type="text" id="caja" placeholder="Ejecutar">
                </th>
            </tr>
            <tr>
                <td>
                    Focus
                </td>

                <th>
                    <input type="text" id="cajaOne" placeholder="Ejecutar">
                </th>
            </tr>
            
            <tr>
                <td>
                    Blur
                </td>

                <th>
                    <input type="text" id="cajaTwo" placeholder="Ejecutar">
                </th>
            </tr>

            <tr>
                <td>
                    Change
                </td>

                <th>
                    <select name="" id="op">
                        <option value="opcion1">Estudiante</option>
                        <option value="opcion2">Profesor</option>
                        <option value="opcion3">Coordinador</option>
                    </select>
                </th>
            </tr>

            
        </table>

        <h3 id="mensaje">

        </h3>
  
    </main>

    <footer class="text-center well">
        <div class="text-1">
            <div class="comu">
                <p>
                    Contenido
                </p>
            </div>
            
            <div class="linea"></div>

            <ul>
                <li>
                    <a href="RetoOne.html">Reto 1</a>
                </li>

                <li>
                    <a href="RetoTwo.html">Reto 2</a>
                </li>

                <li>
                    <a href="RetoThree.html">Reto 3</a>
                </li>
                <li>
                    <a href="RetoFour.html">Reto 4</a>
                </li>
                <li>
                    <a href="RetoFive.html">Reto 5</a>
                </li>

                <li>
                    <a href="RetoSex.html">Reto 6</a>
                </li>

                <li>
                    <a href="Retosiete.html">Reto 7</a>
                </li>
            </ul>
                
                
        </div>

        <div class="text-1">
            <div class="comu">
                <p>Ejercicios en clase</p>
            </div>
            
            <div class="linea"></div>

            <ul>
                <li>
                    <a href="../Ejercicio1.html">Ejercicio</a>
                </li>

                <li>
                    <a href="../Calculadora.html">Calculadora</a>
                </li>
                <li>
                    <a href="../modales.html">Modales</a>
                </li>

                <li>
                    <a href="../ejercicioForm.html">ejercicio de formnulario</a>
                </li>
            </ul>
                
                
        </div>
            
        <div class="text-2">
            <div class="logo-title">
                <div class="nombre">
                    <a href="">
                        <h1>Jaider Quimbaya</h1>
                    </a>
                </div>      
                <div class="imagen">
                    <a href="#">
                        <img src="../../assets/img/lojoJ.png" alt="imagen-empre">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/JavaScript" src="../../assets/js/Eventos.js"></script>

</body>
</html>