<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="Icon" href="../../assets/img/lojoJ.png">
    <title>Reto Tres</title>
</head>
<body>
    <header>
        <div class="logo-title">
            <div class="logo">
                <img src="../../assets/img/lojoJ.png" alt="LogoJ">
            </div>

            <div class="title">
                <h2>
                    Jaider Quimbaya
                </h2>
            </div>
        </div>

        <nav class="nav_container">
            <ul class="ul__nav">
                <li class="home ">
                    <a href="../../index.html">Home</a>
                </li>

                <li>
                    <a href="RetoOne.html">Reto 1</a>
                </li>

                <li>
                    <a href="RetoTwo.html">Reto 2</a>
                </li>

                <li>
                    <a href="RetoThree.html">Reto 3</a>
                </li>
                <li>
                    <a href="RetoFour.html">Reto 4</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="calculadora">
            <div class="calculer">
              <div class="titulo">
                <h1>
                    challenge  Three
                </h1>
              </div>
              <form>
                <div class="seleccion1">
                  <label for="num1">Ingrese la temperatura en grados</label>
                  <input type="text" id="temp" name="temp">
                </div>
        
                <div class="seleccion1">
                  <label for="op">Vas a convertir de</label>
                  <div class="opciones">
                    <select name="op" id="op">
                      <option value="1">Fahrenheit</option>
                      <option value="2">Celsius</option>
                      <option value="3">Kelvin</option>
                    </select>
                  </div>
                </div>

                <div class="seleccion1">
                    <label for="op">Deseas convertir a</label>
                    <div class="opciones">
                      <select name="op2" id="op2">
                        <option value="1">Fahrenheit</option>
                        <option value="2">Celsius</option>
                        <option value="3">Kelvin</option>
                      </select>
                    </div>
                  </div>

                <button id="btnCalcular" onclick="calcular(event)">Calcular</button>

              </form>

              <div class="resultado">
                
              </div>
            </div>
          </section>
    </main>

    <footer class="text-center well">
        <div class="text-1">
            <div class="comu">
                <p>
                    Contenido
                </p>
            </div>
            
            <div class="linea"></div>

            <ul>
                <li>
                    <a href="RetoOne.html">Reto 1</a>
                </li>

                <li>
                    <a href="RetoTwo.html">Reto 2</a>
                </li>

                <li>
                    <a href="RetoThree.html">Reto 3</a>
                </li>
                <li>
                    <a href="RetoFour.html">Reto 4</a>
                </li>

                <li>
                    <a href="RetoFive.html">Reto 5</a>
                </li>

                <li>
                    <a href="RetoSex.html">Reto 6</a>
                </li>

                <li>
                    <a href="Retosiete.html">Reto 7</a>
                </li>
            </ul>
                
                
        </div>

        <div class="text-1">
            <div class="comu">
                <p>Ejercicios en clase</p>
            </div>
            
            <div class="linea"></div>

            <ul>
                <li>
                    <a href="../Ejercicio1.html">Ejercicio</a>
                </li>

                <li>
                    <a href="../Calculadora.html">Calculadora</a>
                </li>
                <li>
                    <a href="../modales.html">Modales</a>
                </li>

                <li>
                    <a href="../ejercicioForm.html">ejercicio de formnulario</a>
                </li>
                
            </ul>
            
        </div>
            
        <div class="text-2">
            <div class="logo-title">
                <div class="nombre">
                    <a href="">
                        <h1>Jaider Quimbaya</h1>
                    </a>
                </div>      
                <div class="imagen">
                    <a href="#">
                        <img src="../../assets/img/lojoJ.png" alt="imagen-empre">
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/JavaScript" src="../../assets/js/Temperatura.js"></script>

</body>
</html>