<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="Icon" href="../assets/img/lojoJ.png">
    <title>Calculadora</title>
</head>
<body>
    <header>
        <div class="logo-title">
            <div class="logo">
                <img src="../assets/img/lojoJ.png" alt="LogoJ">
            </div>

            <div class="title">
                <h2>
                    Jaider Quimbaya
                </h2>
            </div>
        </div>

        <nav class="nav_container">
            <ul class="ul__nav">
                <li class="home ">
                    <a href="../index.html">Home</a>
                </li>

                <li>
                    <a href="retos/RetoOne.html">Reto 1</a>
                </li>

                <li>
                    <a href="retos/RetoTwo.html">Reto 2</a>
                </li>

                <li>
                    <a href="retos/RetoThree.html">Reto 3</a>
                </li>
                <li>
                    <a href="retos/RetoFour.html">Reto 4</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="calculadora">
            <div class="calculer">
              <div class="titulo">
                <h1>
                  Calculadora
                </h1>
              </div>
              <form>
                <div class="seleccion1">
                  <label for="num1"> Ingrese el numero 1</label>
                  <input type="text" id="num1" name="num1">
                </div>
        
                <div class="seleccion1">
                  <label for="num2">Ingrese el numero 2 </label>
                  <input type="text" id="num2" name="num2">
                </div>
        
                <div class="seleccion1">
                  <label for="op">Operacion</label>
                  <div class="opciones">
                    <select name="op" id="op">
                      <option value="1">Suma</option>
                      <option value="2">Resta</option>
                      <option value="3">Multiplicacion</option>
                      <option value="4">Division</option>
                    </select>
                  </div>
                  
                </div>

                <button id="btnCalcular" onclick="calcular(event)">Calcular</button>

              </form>

              <div class="resultado">
                
              </div>
            </div>
          </section>
    </main>

    <footer class="text-center well">
        <div class="text-1">
            <div class="comu">
                <p>
                    Contenido
                </p>
            </div>
            
            <div class="linea"></div>

            <ul>
                <li>
                    <a href="retos/RetoOne.html">Reto 1</a>
                </li>

                <li>
                    <a href="retos/RetoTwo.html">Reto 2</a>
                </li>

                <li>
                    <a href="retos/RetoThree.html">Reto 3</a>
                </li>
                <li>
                    <a href="retos/RetoFour.html">Reto 4</a>
                </li>
                <li>
                    <a href="retos/RetoFive.html">Reto 5</a>
                </li>

                <li>
                    <a href="retos/RetoSex.html">Reto 6</a>
                </li>

                <li>
                    <a href="retos/Retosiete.html">Reto 7</a>
                </li>
            </ul>
                
                
        </div>

        <div class="text-1">
            <div class="comu">
                <p>Ejercicios en clase</p>
            </div>
            
            <div class="linea"></div>

            <ul>
                <li>
                    <a href="Ejercicio1.html">Ejercicio</a>
                </li>

                <li>
                    <a href="Calculadora.html">Calculadora</a>
                </li>
                <li>
                    <a href="modales.html">Modales</a>
                </li>

                <li>
                    <a href="ejercicioForm.html">ejercicio formulario</a>
                </li>
            </ul>
                
            
        </div>
            
        <div class="text-2">
            <div class="logo-title">
                <div class="nombre">
                    <a href="">
                        <h1>Jaider Quimbaya</h1>
                    </a>
                </div>      
                <div class="imagen">
                    <a href="#">
                        <img src="../assets/img/lojoJ.png" alt="imagen-empre">
                    </a>
                </div>
            </div>
        </div>
    </footer>  

    <script type="text/JavaScript" src="../assets/js/Calculadora1.js"></script>

</body>
</html>