<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="Icon" href="../assets/img/lojoJ.png">
  <title>Ejercicio</title>
</head>
<body>
    <header>
        <div class="logo-title">
            <div class="logo">
                <img src="../assets/img/lojoJ.png" alt="LogoJ">
            </div>

            <div class="title">
                <h2>
                    Jaider Quimbaya
                </h2>
            </div>
        </div>

        <nav class="nav_container">
            <ul class="ul__nav">
                <li class="home ">
                    <a href="../index.html">Home</a>
                </li>

                <li>
                    <a href="retos/RetoOne.html">Reto 1</a>
                </li>

                <li>
                    <a href="#WhatsApp">Reto 2</a>
                </li>

                <li>
                    <a href="retos/RetoThree.html">Reto 3</a>
                </li>
                <li>
                    <a href="retos/RetoFour.html">Reto 4</a>
                </li>
                <li>
                    <a href="retos/RetoFive.html">Reto 5</a>
                </li>

                <li>
                    <a href="retos/RetoSex.html">Reto 6</a>
                </li>

                <li>
                    <a href="retos/Retosiete.html">Reto 7</a>
                </li>
            </ul>
        </nav>
    </header>

    <section id="features">
        <div class="features">
            <h1>Titulo del feature</h1>
            <p>Este es el primer parrafo</p>
            <p>Este es el segundo parrafo</p>

            <label>
                ingrese el primer numero
            </label>
            <input type="number" name="num1" id="num1">
        </div>

        <div class="feature-2">

        </div>
    </section>

  <script type="text/JavaScript" src="../assets/js/Dom.js">

  </script>
  
</body>
</html>