<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/modales.css">
    <script src="https://kit.fontawesome.com/d42fb48da4.js" crossorigin="anonymous"></script>
    <link rel="Icon" href="../assets/img/lojoJ.png">
    <title>Modales</title>
</head>
<body>
    <header>
        <div class="logo-title">
            <div class="logo">
                <img src="../assets/img/lojoJ.png" alt="LogoJ">
            </div>

            <div class="title">
                <h2>
                    Jaider Quimbaya
                </h2>
            </div>
        </div>

        <nav class="nav_container">
            <ul class="ul__nav">
                <li class="home ">
                    <a href="../index.html">Home</a>
                </li>

                <li>
                    <a href="retos/RetoOne.html">Reto 1</a>
                </li>

                <li>
                    <a href="#WhatsApp">Reto 2</a>
                </li>

                <li>
                    <a href="retos/RetoThree.html">Reto 3</a>
                </li>
                <li>
                    <a href="retos/RetoFour.html">Reto 4</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="contenido">
            <button id="abrirModal">Mi perfil</button>
    
            <div id="ventanaModal" class="modal">
                <div class="contenidoModal">
                    <span class="cerrarModal"><i class="fa-solid fa-xmark"></i></span>
                    <h2>Jaider Quimbaya</h2>
                    <img  src="../assets/img/lojoJ.png" alt="">
                </div>
                <div class="conten">
                    <p>Soy un aprendiz de Sena, Me llamo Jaider Quimbaya, tengo 19 años, vivo en Bogota D.c en el barrio Las ferias, Soy una persona muy responsable, creativa y proactiva</p>
                </div>
            </div>
        </div>
    </main>

    <footer class="text-center well">
        <div class="text-1">
            <div class="comu">
                <p>
                    Contenido
                </p>
            </div>
            
            <div class="linea"></div>

            <ul>
                <li>
                    <a href="retos/RetoOne.html">Reto 1</a>
                </li>

                <li>
                    <a href="retos/RetoTwo.html">Reto 2</a>
                </li>

                <li>
                    <a href="retos/RetoThree.html">Reto 3</a>
                </li>
                <li>
                    <a href="retos/RetoFour.html">Reto 4</a>
                </li>
                <li>
                    <a href="retos/RetoFive.html">Reto 5</a>
                </li>

                <li>
                    <a href="retos/RetoSex.html">Reto 6</a>
                </li>
                <li>
                    <a href="retos/Retosiete.html">Reto 7</a>
                </li>
            </ul>
                
                
        </div>

        <div class="text-1">
            <div class="comu">
                <p>Ejercicios en clase</p>
            </div>
            
            <div class="linea"></div>

            <ul>
                <li>
                    <a href="Ejercicio1.html">Ejercicio</a>
                </li>

                <li>
                    <a href="Calculadora.html">Calculadora</a>
                </li>
                <li>
                    <a href="modales.html">Modales</a>
                </li>

                <li>
                    <a href="ejercicioForm.html">ejercicio formulario</a>
                </li>
            </ul>
                
                
        </div>
            
        <div class="text-2">
            <div class="logo-title">
                <div class="nombre">
                    <a href="">
                        <h1>Jaider Quimbaya</h1>
                    </a>
                </div>      
                <div class="imagen">
                    <a href="#">
                        <img src="../assets/img/lojoJ.png" alt="imagen-empre">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    
    <script type="Text/JavaScript" src="../assets/js/modales.js" ></script>
</body>
</html>