*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

header{
    background: black;
    display: flex;
}
.logo-title{
    display: flex;
    align-items: center;
    padding: 10px;
    color: #ffffff;
}

.logo-title .logo img{
    width: 40px;
    border-radius: 25px;
    margin-right: 25px;
}

.nav_container{
    display: flex;
    align-items: center;
    margin-left: 250px;
}

.ul__nav{
    display: flex;    
    gap: 50px;
    text-transform: uppercase;
    list-style: none;
}


.ul__nav a{
    position: relative;
    color: rgba(205, 207, 205, 0.5);
    padding: 0.5em 0.8rem;
    text-decoration: none;
}

.ul__nav a::before,
.ul__nav a::after{
    position: absolute;
    height: 15px;
    width: 15px;
    content: '';
    opacity: 0; 
}

.ul__nav a::before{
    right: 0;
    top: 0;
    border-right: 3px solid #ffe600;
    border-top: 3px solid #ffe600;
}

.ul__nav a::after{
    left: 0;
    bottom: 0;
    border-left: 3px solid #ffe600 ;
    border-bottom: 3px solid #ffe600;
    
}

.ul__nav a:hover, a .ul__nav .home a{
    color: #ffff;
}

.ul__nav a:hover:before,
.ul__nav .home a:before,
.ul__nav a:hover:after,
.ul__nav .home a:after{
    opacity: 1;
}

main{
    background: #636363;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a2ab58, #636363);
    display: flex;
    justify-content: center;
}

main .todo{
    padding-top: 50px;
    width: 27pc;
}


.contenido{
    box-shadow: 0 0 50px black;
    width: 20pc;
    height: 30pc;
    margin: 50px;
}

.circulo {
    width: 15pc;
    padding: 2.5pc;
}

.circulo .info{
    width: 10pc;
    padding: 36px;
} 

.contenido #abrirModal{
    margin-left: 40px;
    width: 7pc;
    height: 30px;
    border-radius: 15px;
    background: rgb(135, 224, 135);
}


.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    margin-left: -31.76pc;
    overflow: auto;
    padding-top: 45px;
    display: none;
}



.contenidoModal{
    background-color: white;
    width: 60%;
    margin: auto;
    position: relative;
    padding: 1rem;
    animation-name: animarmodal;
    animation-duration: 0.5s;
}



@keyframes animarmodal{
    from {top: -300px; opacity: 0;}
    to{top: 0; opacity: 1;}
}

.cerrarModal{
    font-size: 2rem;
    float: right;
}

.cerrarModal:hover{
    cursor: pointer;
}

.contenidoModal{
    height: 580px;
}

.contenidoModal h2{
    padding: 1rem 0;
    text-align: center;
    clear: both;
    margin-top: 3rem;
    width: 97%;
    height: 30px;
}

.contenidoModal p{
    width: 40pc;
    text-align: center;
    margin-top: 15px;
    margin-left: 60px;
}

.contenidoModal .datos{
    margin-top: 15px;
    text-align: center;
}

.contenidoModal .botones{
    background: c;
    text-align: center;
}

 .botones  button{
    margin-top: 30px;
    height: 40px;
    margin-right: 30px;
    border-radius: 15px;
    background: rgb(133, 221, 223);
}

/* area*/

.contenido #abrir{
    margin-left: 40px;
    width: 7pc;
    height: 30px;
    border-radius: 15px;
    background: rgb(135, 224, 135);
}

.contenido #abrirModal2{
    margin-left: 40px;
    width: 7pc;
    height: 30px;
    border-radius: 15px;
    background: rgb(135, 224, 135);
}

.contenido #abrirModal3{
    margin-left: 40px;
    width: 7pc;
    height: 30px;
    border-radius: 15px;
    background: rgb(135, 224, 135);
}

.contenido #abrirModal4{
    margin-left: 40px;
    width: 7pc;
    height: 30px;
    border-radius: 15px;
    background: rgb(135, 224, 135);
}

.contenido #abrirModal5{
    margin-left: 40px;
    width: 7pc;
    height: 30px;
    border-radius: 15px;
    background: rgb(135, 224, 135);
}

.contenido #abrirModal6{
    margin-left: 40px;
    width: 7pc;
    height: 30px;
    border-radius: 15px;
    background: rgb(135, 224, 135);
}

.contenido #abrirModal7{
    margin-left: 40px;
    width: 7pc;
    height: 30px;
    border-radius: 15px;
    background: rgb(135, 224, 135);
}

.modal1{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    margin-left: -36.76pc;
    overflow: auto;
    padding-top: 45px;
    display: none;
}

.contenidoModal1{
    background-color: white;
    width: 60%;
    margin: auto;
    position: relative;
    padding: 1rem;
    animation-name: animarmodal;
    animation-duration: 0.5s;
}

.cerrarModal1{
    font-size: 2rem;
    float: right;
}

.cerrarModal1:hover{
    cursor: pointer;
}

.contenidoModal1{
    height: 580px;
}

.contenidoModal1 h2{
    padding: 1rem 0;
    text-align: center;
    clear: both;
    margin-top: 3rem;
    width: 97%;
    height: 30px;
}

.contenidoModal1 p{
    width: 40pc;
    text-align: center;
    margin-top: 15px;
    margin-left: 60px;
}

.contenidoModal1 .datos{
    margin-top: 15px;
    text-align: center;
}

.contenidoModal1 .botones{
    background: c;
    text-align: center;
}

.botones button{
    margin-top: 30px;
    height: 40px;
    margin-right: 30px;
    border-radius: 15px;
    background: rgb(133, 221, 223);
}

footer{
    height: auto;
    padding: 10px;
    clear: both;
    background: rgb(37, 37, 37);
    color: #fff;
    display: flex;
    justify-content: center;
}

.text-1{
    width: 30%;
    margin: 20px;
    height: auto;
}

.text-1 .comu{
    font-size: 18px;
}
.text-1 .bog{
    margin-top: 10px;
}

.text-1 .linea {
    height: 2px;
    width: auto;
    background: rgb(94, 93, 93);
    margin-top: 15px;

}
.text-1 ul {
    margin-top: 10px;
    list-style: none;
}

.text-1 ul li{
    margin-top: 5px;
}

.text-1 ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

.text-1 ul li a:hover{
    color: #a3a3a3;
}
.text-2 {
    margin: 20px;
}
.text-2 .imagen a img {
    width: 60px;
    border-radius: 100px;
    margin-left: 15px;
}

.text-2 .logo-title {
    display: flex;
    margin-left: 10px;
    color: #fff;
}

.text-2 .logo-title .nombre a {
    color: #fff;
    text-decoration: none;
}